.paperForm{
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  height: 500px;
  margin-bottom: 300px;

  .contact-form {
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    // border: 1px solid black

    .form-items {

    }

    .submit-btn-container {
      margin-top: 20px;
      text-align: right;
    }
  }


}
