.skills-break{
  height: 50px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(60, 64, 68);
  color: white;
  transition: width 1s;
}

.footer {
  height:120px;
  width:100%;
  background: rgb(44, 46, 48);
}
