.skills-break-two{
  height: 50px;
  margin: 0 auto;
  width: 100%;
  background: rgb(121, 121, 121);
  color: white;
  transition: width 1s;
}

.footer {
  height:140px;
  width:100%;
  background: rgb(60, 64, 68);
}
