@import '../utils/variables';

.nav-bar{
  background-color: white !important;

  .nav-logo {
    height: 90px;
    vertical-align: middle;
  }

  .nav-tabs-container {
    background-color: white !important;
    width: 30%;
    
    .nav-tabs {
      background-color: white !important;
      height: 103px !important;
      color: black !important;
    }
  }
}
