.profile-header-container{
  height: 360px;
  width: 100%;
  padding-top: 25px;
  background: url("/images/profileBackDrop.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-box-shadow:0px 3px 3px rgb(0, 0, 0);
  -moz-box-shadow:0px 3px 3px rgb(0, 0, 0) ;
  box-shadow:0px 3px 3px rgb(0, 0, 0);

  .profile-container {
    width: 70%;
    height: 200px;
    margin: 0 auto;
    padding: 7px;
    display: flex;
    background-color: rgba(255, 255, 255, .3);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
    border-radius: 5px;

    .profile-pic-container {
      .profile-pic {
        border-radius: 10px;
        height: 185px;
        width: 200px;
        display: 'inline-block';
        background: url("/images/profile.jpeg") no-repeat center top;
        background-size:contain;
      }
    }
    .profile-info {
      padding-left: 5px;
      h1 {
        margin: 0;
        text-decoration: underline;
      }
      p {
        padding-top: 15px;
        font-size: 16px;
      }
    }
  }
  .btn-container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 70px;

    .social-media-button{
      border: 3px solid white;
      display: inline-block;
      font-size: 20px;
      color: white;

    }
  }

}

@media (max-width: 990px) {
  .profile-container {
    width: 80% !important;
    border-radius: none !important;
  }
  .btn-container{
    width: 80% !important;
    margin-top: 35px !important;
  }
}
@media (max-width: 760px) {
  .profile-container {
    width: 100% !important;
    border-radius: none !important;
  }
  .btn-container{
    width: 100% !important;

  }
}
@media (max-width: 520px) {
  .profile-header-container{
    height: 400px;
    padding-top: 10px;
  }
  .profile-container{
    width: 280px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-pic {
    }
    .profile-info{
      display: none;
    }
  }
  .btn-container{
    width: 280px !important;
    margin-top: 0 !important;
    .social-media-button {
      width: 100% !important;
    }
  }
}
