.project-detail-container {

  .project-break{
    height: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: rgb(60, 64, 68);
    color: white;
    transition: width 1s;
  }

  h2 {
    text-align: center;
    font-family: 'Crimson Text', serif;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding-top: 12px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.298039);

    span{
      padding-right: 20px;
      -webkit-animation-duration: 2.4s;
    }
  }

  .btn-containerr{

    height: 60px;
    text-align: center;
    padding: 10px;

    .back-btn {
      display: inline-block;
      text-align: center;
      font-size: 20px;
      height: 40px;
      padding: 3px;
      cursor: pointer;
      width: 120px;
      background-color: rgba(255, 255, 255, 0);
      border: 4px solid black;
      border-radius: 5px;
      cursor: pointer;
      color: black;
      transition: width .3s, height .3s, padding .3s, background-color .3s, border .1s;
    }
    .back-btn:hover{
      margin-bottom: 12px;
      padding: 5px;
      height: 45px;
      width: 130px;
      color: white;
      background-color: rgb(60, 64, 68);
      text-decoration: none;
    }
  }

  .details-container{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;

    .img-container {
      text-align: center;
      width: 50%;
      padding: 15px;

      .project-image{
        width: 100%;

      }
    }
    .info-container {
      width: 50%;
      padding: 15px;
      .live-site {
        color: black;
        font-size: 30px;
        text-decoration: none;
        transition: font-size .4s, color .4s;

      }
      .live-site:hover {
        color: rgb(60, 64, 68);
        font-size: 35px;
      }

      p {

      }
    }
  }
}

@media (max-width: 990px) {
  .project-detail-container {
    .details-container {
      padding: 0;
      .img-container{
        width: 100%;
      }
      .info-container{
        width: 100%;
      }
    }
  }
}
