.projects-main-container{
  // padding-top: 30px;

  .projects-break{
    height: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: rgb(60, 64, 68);
    color: white;
    transition: width 1s;
  }
}

.projects-container{
  margin: 0 auto;
  width: 100%;
  text-align: center;

  h2 {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding-top: 12px;
    margin-bottom: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.298039);

    span{
      padding-right: 20px;
      -webkit-animation-duration: 2.4s;
    }
  }

  .project-paper {
    -webkit-animation-duration: .8s;
    -webkit-animation-delay: .2s;
    background-size: 400px 250px;
    h3{
      margin: 0;
      color: white;
      background: rgb(60, 64, 68);
      text-decoration: underline;
    }
  }
}



.project-paper {
  background-size: 400px 250px !important;
}



.project-paper:nth-child(5) {
  background: no-repeat center center;
  background-size: contain;;
}
.project-paper:nth-child(6) {
  background: no-repeat center center;
  background-size: contain;
}



@media (max-width: 760px) {
  .projects-main-container{
    .projects-header{
      width: 100%;
    }
  }
}
